.container {
    width: 100%;
    height: 100%;
    background-color: #F6F8FB;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px grey dashed;
    box-shadow: 5px 5px 10px grey;
}
.droparea {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.highlight {
    background-color: #ded9ec;
}
.highlight svg {
    background-color: #ded9ec;
}
.upload {
    display: none;
}
.droparea ~ div {
    width: 100%;
}
.before {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.list {
    height: 55%;
}
.error{
    height: 15%;
    color: red;
}